<div class="container">
    <div class="row">
        <div>
            <h3>
                {{ content.title }}
            </h3>
            {{ content.description|raw }}
            {% if (content.btnLink and content.btnText) %}
                <sulu-link class="btn btn-primary"
                           role="button"
                           provider="page"
                           href="{{ content.btnLink }}">
                    {{ content.btnText }}
                </sulu-link>
            {% endif %}
        </div>
    </div>
</div>